.ReactModal__Overlay {
  opacity: 0;
  z-index: 3;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 3;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 3;
}

.ReactModal__Contect--before-close {
  position: relative;
}

.action-buttons {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  column-gap: 10px;
  align-self: center;
  align-items: center;
  background-color: transparent;
  color: black;
  border: 1px solid transparent;
  cursor: pointer;
  transition:  color 300ms cubic-bezier(0.4, 0, 0.2, 1);
     
    
      
}
.close-modal-btn:hover {
  color: #ef4287;
}

.confirmation__message {
  font-size: 24px;
  text-align: center;
  line-height: 1.67;
}