  .contact {
    display: flex;
    display: flex;
      column-gap: 10px;
      align-items: center;
      font-size: 30px;
      flex-grow: 1;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
  } 

  .contact__buttons {
    
    display: flex;
    column-gap: 20px;
  }
  
  .contact__name {
    font-style: italic;
   }
    .toDelete {
      color: red;
    }
    .toEdit {
      color: blue;
    }